#todo{

	border: 30px groove black;
	margin-right: 7px;
	border-color: #004f5b;
	height: 830px;
}

body {
	
	background-color: gray;	
}

#table1 {
	font-size: 25px;
	width: 40%;
	text-align: center;
	margin-top: 120px;
	margin-left: 120px;
	border-collapse: collapse;
}
#table2 {
	border-collapse: collapse;
	font-size: 25px;
	width: 40%;
	text-align: center;
	margin-top: 158px;
	margin-left: 980px;
}

#title {
        text-align: center;
        font-size: 20px;
        width: 1000px;
	font-family: Arial, Helvetica, sans-serif;
        margin: 40px auto;
	#color: black;
 	background: -webkit-linear-gradient(#deeb0a, #22c1c3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
	#background-color: black;
        #border: 1px solid white;
        height: 100px;
        border-radius: 50px;
        padding: 0px 100px 0px 100px;
  	   text-shadow: 1px 1px 1px black;
}

th{

	background-color: black;
	color: white;
	

}

td{
   
	background-color: white;

}



button[id='atras'] {
  background-color: #1072d5;
  border-style: solid;
  border-color: white;
  color: white;
  padding: 9px 898px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 74px;
}

button[id='salir'] {
  background-color: #1072d5;
  border-style: solid;
  border-color: white;
  color: white;
  padding: 9px 901px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1px;
}
      

