* {
  margin: 0;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  color: black;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  opacity: 0.7;
}

h3 {
  text-decoration: underline;
  font-size: 20px;
  text-shadow: 2px 2px 5px blue;
}
