/*
Al cuerpo de la
pagina se aplica el tamaño de fuente
 */
body{
	font-size: 12px;
}
/**
 * se aplica el ancho, margen centrado
 * borde de un pixel con redondeado, y rellenado
 * a la izquierda y derecha
 */
#Contenedor{
	width: 500px;
	margin: 50px auto;
	background-color: #F3EDED;
        border: 1px solid #ECE8E8;
	height: 500px;
	border-radius: 25px;
	padding: 0px 10px 0px 10px;
}

h1 {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
  	background: -webkit-linear-gradient(#2ab8dc, #333);
  	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
}

body {
	background: rgb(66,183,245);
	background: linear-gradient(90deg, rgba(71,103,125,1) 5%, rgba(4,112,189,1) 50%, rgba(0,212,255,1) 95%);
}

/**
 * Aplicando al icono de usuario el color de fondo,
 * rellenado de 20px y un redondeado de 120px en forma
 * de un circulo
 */

.Icon span{
      background: #A8A6A6;
      padding: 20px;
      border-radius: 120px;
      margin-top: 9px;
}
/**
 * Se aplica al contenedor madre un margen de tamaño 10px hacia la cabecera y pie,
 * color de fuente blanco,un tamaño de fuente 70px y texto centrado.
 */

.Icon{
     margin-top: 0px;
     margin-bottom:15px; 
     color: #FFF;
     font-size: 70px;
     text-align: center;
}


button[id='salir'] {
  background-color: #1072d5;
  border-style: solid;
  
  color: white;
  padding: 9px 934px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 265px;
}


