* {
	padding: 5;
	margin: 10;
	font-family: century gothic;
	text-align: center;
}

form {
	padding: 40px 130px;
	background-color: #ededed;
	margin: calc(25% + 100px);
	margin-top: 130px;
	padding-top: 25px;
	margin-bottom: 30px;
	border-radius: 120px;
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='text']{
        width: calc(80% - 20px);
        margin: 10 10%;
        margin-top: 10px;
       
}

input[type='password']{
        width: calc(80% - 20px);
        margin: 30 10%;
        margin-top: 10px;
}

input[type='submit']{
        background-color: #48e;
        color: #fff;
        width: calc(80%);
        margin: 0 10%;
        margin-top: 22px;
        border: none;
}


