
* {
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}

body {
	background: rgb(71,103,125);
	background: linear-gradient(90deg, rgba(71,103,125,1) 5%, rgba(4,112,189,1) 50%, rgba(0,212,255,1) 95%);
}


form {
	padding: 50px 20px;
	background-color: #ededed;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}

h1 {
	text-align: center;
	padding: 12px;
	color: #444
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}

input[type='button']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}

.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}

.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}

button[id='atras'] {
  background-color: #1072d5;
  border-style: solid;
  border-color: white;
  color: white;
  padding: 9px 930px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
}

button[id='salir'] {
  background-color: #1072d5; 
  border-style: solid;
  border-color: white;
  color: white;
  padding: 9px 934px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1px;
}


