body {
	
	background-color: #474747;	
}

#cbx_host {
  background-color: #1072d5;
  border-style: solid;
  border-color: white;
  color: white;
  padding: 3px 4px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1px;
}
#cbx_name {
  background-color: #1072d5;
  border-style: solid;
  border-color: white;
  color: white;
  padding: 3px 4px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1px;
}
      
#secHost {
  background-color: #1072d5;
  border-style: solid;
  border-color: white;
  color: white;
  padding: 2px 4px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  
}
#secInt {
  background-color: #1072d5;
  border-style: solid;
  border-color: white;
  color: white;
  padding: 2px 4px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
}

th {

 background-color: green;
 color: black;
 
}
td {

 background-color: white;
 color: black;

}

h1 {

  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  text-align: center;
  text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

/* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}


